form.selectOneDayOfWeek(value=selectedDay)      
        button.selectOneDayOfWeek-btn(style={width:"60px", margin:"5px", padding:"0px"} name="day" value="MON") MON
        button.selectOneDayOfWeek-btn(style={width:"60px", margin:"5px", padding:"0px"} name="day" value="TUE") TUE
        button.selectOneDayOfWeek-btn(style={width:"60px", margin:"5px", padding:"0px"} name="day" value="WED") WED
        button.selectOneDayOfWeek-btn(style={width:"60px", margin:"5px", padding:"0px"} name="day" value="THU") THU
        button.selectOneDayOfWeek-btn(style={width:"60px", margin:"5px", padding:"0px"} name="day" value="FRI") FRI
        button.selectOneDayOfWeek-btn(style={width:"60px", margin:"5px", padding:"0px"} name="day" value="SAT") SAT
        button.selectOneDayOfWeek-btn(style={width:"60px", margin:"5px", padding:"0px"} name="day" value="SUN") SUN