form(action="")      
        button(style={width:"60px", margin:"5px", padding:"0px"} name="day" value="MON") MON
        button(style={width:"60px", margin:"5px", padding:"0px"} name="day" value="TUE") TUE
        button(style={width:"60px", margin:"5px", padding:"0px"} name="day" value="WED") WED
        button(style={width:"60px", margin:"5px", padding:"0px"} name="day" value="THU") THU
        button(style={width:"60px", margin:"5px", padding:"0px"} name="day" value="FRI") FRI
        button(style={width:"60px", margin:"5px", padding:"0px"} name="day" value="SAT") SAT
        button(style={width:"60px", margin:"5px", padding:"0px"} name="day" value="SUN") SUN