extends ./layouts/main.pug

block content
    include ./partials/navBar.pug
    main       
        h1.pageTitle add a member
        .addMemberMainBox        
                form(action="/addmember" method="POST")
                    label(for="week") choose a day of meeting: 
                    select(name="dayOfWeek" id="week" required)
                        option(value="") choose 
                        option(value="MON") MON 
                        option(value="TUE") TUE
                        option(value="WED") WED
                        option(value="THU") THU
                        option(value="FRI") FRI
                        option(value="SAT") SAT 
                        option(value="SUN") SUN

                    label(for="memberTime") Time:
                    input(type="time" name="time" required id="memberTime")

                    label(for="memberName") Name:
                    input(type="text" name="name" placeholder="nickname" id="memberName" required)
                    
                    label(for="memberInning") start at:
                    input(type="number" id="memberInning" name="nthMeeting" scale=1 max=10 min=1 placeholder="inning" value=1 required)
                    
                    label(for="memberEntryFee") Entry fee:
                    input(type="number" name="entryFee" min=0 value=50000 placeholder="entry fee" id="memberEntryFee" required)

                    input(type="submit" value="ADD MEMBER" style={background: 'pink'})

//- inning value를 함수처리 해주자
//- 요일도required이고 하나만 선택할 수 있게 처리해야함