extends ./layouts/main.pug

block content 
    form(method="" action="") 
        input(type="text" placeholder="search by name" name="name")

    .searchedBox
        if(findpeople) 
            ul     
                li 
                    form(action="")
                        input(type="text" value=findpeople.name)
                        button Delete
        else 
            h1 not found

        //- 삭제랑 edit도 가능하게 search하면 form형태로 나오게 만들고 수정하거나 지우자. 