// color
$main-color: #fed32e;
$main-green: green;

$background: white;
$menuBar-backgroundColor: #fed32e;
$menuBar-textColor: #333;
$selectedday-bgColor: plum;

//style
$shadow: 2px 1px 5px#000;
$basic-border: 0.3px solid lightgray;
