// a {
//   text-decoration: none;
//   color: black;
// }

// body {
//   width: 100%;
//   font-family: pretendard;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   line-height: 2.5rem;
// }

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  background: $background;
}

h1 {
  font-size: 1.5em;
  font-weight: bolder;
}

h4 {
  font-size: 1em;
}
