@import "./_variable";
@import "./reset.scss";
@import "./login.scss";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80%;
  background: red;
}
