body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $background;
  color: white;
  font-family: "Nanum Gothic", sans-serif;
  h1 {
    font-size: $headText-size;
    font-weight: 700;
  }
  h4 {
    font-size: 1em;
  }
  button,
  a {
    cursor: pointer;
    color: $btnText-color;
    text-decoration: none;
  }
  li {
    // width: 100%;
    padding: 7px 15px;
  }
  i {
    cursor: pointer;
  }
  ::placeholder {
    color: $placeholder-textColor;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    input {
      width: 90%;
      font-size: $inputText-size;
      border: none;
      border-bottom: $basic-border;
      padding: 10px 5px;
      margin-top: 13px;
      color: $inputText-color;
      box-sizing: border-box;
      outline: none;
      background-color: transparent;
    }
    .lastInputBtn {
      width: 70%;
      color: $main-green;
      font-size: $submitText-size;
      font-weight: bolder;
      border-style: none;
      border-radius: 5px;
      margin-top: 35px;
      background-color: $main-color;
      cursor: pointer;
      &:hover {
        background-color: $main-green;
        color: $main-color;
      }
    }
  }
}

.publicPage {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  padding: 0px 15px;
  .publicPage-head {
    width: 100%;
    max-width: $formBox-width;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
  }
  .loginJoinErrorBox {
    color: rgb(235, 68, 38);
    margin-top: 15px;
  }
}

//goback a link
.spaceForLayout {
  padding: 0px 15px;
  width: 10%;
  font-size: larger;
  .goback {
    color: $editBox-underlineColor;
    &:hover {
      color: $placeholder-textColor;
    }
  }
  #gobackAdd {
    display: none;
    padding-left: 10px;
  }
}

//add member
.addMemberPage {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0px 20px;
}
//login, join, addmember form containnerBox
.loginFormBox,
.joinFormBox,
.addMemberFormBox {
  width: 100%;
  max-width: $formBox-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: $basic-border;
  border-radius: 5px;
  padding-bottom: 20px;
  margin-top: 5px;
  background-color: $form-bgColor;
}
//login page
.loginFormBox {
  .socialLogin {
    width: 70%;
    margin-top: 20px;
    a {
      display: flex;
      justify-content: center;
      font-size: $submitText-size;
      padding: 10px 20px;
      border-radius: 5px;
      background-color: $naver-green;
      &:hover {
        font-weight: bolder;
      }
    }
  }
}
.loginJoinBox {
  width: 100%;
  max-width: $formBox-width;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  button {
    width: 50%;
    color: $main-color;
    font-size: $submitText-size;
    font-weight: bold;
    border-style: none;
    border-radius: 5px;
    padding: 10px 5px;
    background-color: $main-green;
    &:hover {
      background-color: $main-color;
      color: $main-green;
    }
  }
}
