//home page start and finish btn
// .hidden {
//   display: none;
// }
.toggle {
  margin-left: 445px;
  background-color: rebeccapurple;
}

//home pages filtering members
.forFilter {
  display: none;
}

.show {
  display: flex;
}

//10th resetBtn savedPage
.hideResetBtn {
  display: none;
}
