.menuBar {
  position: fixed;
  top: 90px;
  left: 3%;
  z-index: 10;
  max-width: 90px;
  display: flex;
  flex-direction: column;
  // align-items: flex-end;
  .menuBox {
    i {
      position: relative;
      text-align: center;
      font-size: 25px;
      width: 30px;
      color: #333;
      border-radius: 15px;
      padding: 5px 5px;
      margin-bottom: 50px;
      background-color: rgba(255, 255, 255, 0.11);
      &:hover {
        color: #333;
        background-color: rgb(241, 229, 231);
      }
    }
  }
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: $showing-page;

  //home&saved
  .ifNoMemberAdded {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .addMemberIconBox {
      color: #000;
      background-color: aliceblue;
      border-radius: 50%;
      padding: 25px 20px;
      margin: 30px auto;
      .fa-user-plus {
        margin: 0px auto;
      }
      &:hover {
        cursor: pointer;
        color: rgb(2, 92, 2);
        box-shadow: 0.8px 1px 4px rgba(95, 95, 95, 0.993);
        transform: scale(1.08);
        transition: 0.1s linear;
      }
    }
  }
  //home, saved, addmember, search
  .headBox {
    position: sticky;
    top: 0px;
    z-index: 10;
    width: 100%;
    max-width: $boxSize-width;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 15px 15px 15px;
    background-color: $background; //smallscreen에서 적용x
    h1 {
      padding: 0px 15px;
    }
    .startAndDoneBtnContainner {
      display: flex;
      padding: 0px 15px;
      .finisheBtnSet {
        width: 100px;
        padding: 0px;
        animation: $bounce-top;
      }
      .startBtnSet,
      .timeBegin,
      .timeEnd,
      .finisheBtnSet button {
        height: $headText-size;
        font-weight: 700;
        padding: 0px 15px;
        border-style: none;
        border-radius: 20px;
        background-color: transparent;
        &:hover {
          color: rgba(255, 255, 255, 0.329);
        }
        &:active {
          transform: scale(0.98);
        }
      }
      .startBtnSet,
      .timeEnd {
        background-color: rgba(112, 252, 107, 0.116);
      }
      .timeBegin {
        background-color: rgba(255, 80, 49, 0.247);
      }
      .finisheBtnSet button {
        margin-left: 42.48px;
        background-color: rgba(62, 62, 255, 0.247);
      }
    }
    .searchMemberBox {
      width: 100%;
      height: $headText-size;
      input {
        max-width: 55%;
        height: 100%;
        border-radius: 20px;
        padding-left: 15px;
        margin: 0px;
        background-color: $searchBox-bgColor;
        cursor: text;
      }
    }
  }

  //home && saved inside ul
  .ulBoxHead,
  .ulBoxHead-two {
    // width: 100%;
    font-weight: bolder;
    color: $form-bgColor;
    border-top: $basic-border;
    display: flex;
    // align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    padding-top: 10px;
    margin-top: 10px;
  }

  //home page
  .homeBox-start {
    width: 100%;
    max-width: $boxSize-width;
    .ulBoxHead {
      margin-top: 0px;
      padding-right: 23px;
      a {
        // padding-right: 10px;
        &:hover {
          padding: 7px 6px 7px 9px;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.205);
        }
      }
    }
    .listBoard-checkBox {
      margin-top: 15px;
      li {
        align-items: center;
        align-items: center;
        justify-content: space-between;
        button {
          font-weight: 700;
          &:first-of-type {
            width: 40%;
            padding: 10px 20px;
            margin: 10px 0px;
            font-size: 16px;
            border-style: none;
            border-radius: 5px;
            color: #333;
            background-color: rgb(227, 231, 227);
            &:hover {
              color: green;
              background-color: $btnText-color;
            }
          }
          &:last-of-type {
            width: 15%;
            max-width: 39px;
            height: 39px;
            border: 0.8px solid rgba(255, 255, 255, 0.089);
            border-radius: 50%;
            color: rgba(255, 255, 255, 0.089);
            background-color: #333;
            box-shadow: 1px 1px 5px rgba(102, 101, 101, 0.103);
            &:hover {
              color: red;
              background-color: $btnText-color;
            }
          }
        }
        .checkBox-text {
          width: 40%;
          height: 39px;
          display: flex;
          justify-content: space-around;
          .textBox {
            display: flex;
            align-items: center;
            .textBox-title {
              width: 53px;
              text-align: center;
              // border: 0.5px solid rgba(255, 255, 255, 0.089);
              border-right: none;
              border-bottom-left-radius: 5px;
              border-top-left-radius: 5px;
              background-color: rgba(255, 255, 255, 0.205);
              padding: 1px 0px;
            }
            .textBox-content {
              width: 67px;
              text-align: center;
              padding: 1px 0px;
              // border: 0.5px solid rgba(255, 255, 255, 0.089);
            }
          }
        }
        &:hover {
          background-color: $liBoxHover-bgColor;
        }
      }
    }
  }

  .homeBox-finish {
    width: 100%;
    max-width: $boxSize-width;
    padding-bottom: 60px;
    .listBoard-checkedBox {
      // display: flex;
      // flex-direction: row;
      // flex-wrap: wrap;
      margin-top: 15px;
      li {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        button {
          font-size: 15px;
          border-style: none;
          border-radius: 20px;
          padding: 10px 25px;
          margin: 5px 5px;
          background-color: tomato;
        }
        div {
          color: rgba(255, 255, 255, 0.322);
          font-size: 13px;
          margin-left: 5px;
        }
        &:hover {
          background-color: $liBoxHover-bgColor;
        }
      }
    }
  }

  //saved page
  .chartBox-array {
    width: 100%;
    max-width: $boxSize-width;
    // margin-top: 70px;
    .ulBoxHead {
      margin-top: 0px;
      i {
        color: $form-bgColor;
        &:hover {
          color: white;
        }
      }
    }
    ul {
      padding: 10px 5px 0px 5px;
      animation: $showing-page;
      li {
        display: flex;
        align-items: center;
        padding: 7px 0px 7px 10px;
        .chartArrayName {
          height: 100%;
          font-size: 15px;
          border-right: $basic-border;
          padding-right: 5px;
        }
        .chartArrayText {
          display: flex;
          // flex-direction: column;
          align-items: center;
          justify-content: space-between;
          border: $basic-border;
          border-radius: 5px;
          margin-left: 5px;
          #ifNotStart {
            padding: 3px 3px;
          }
          .chartArrayText-Num {
            //스크린사이즈에 display:none적용
            font-size: 10px;
            padding: 5px 5px;
            border-bottom-left-radius: 0px;
            background-color: rgba(160, 160, 160, 0.212);
          }
          .chartArrayText-Mon {
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1px 1px;
            padding: 0px 4px;
          }
        }
        &:hover {
          background-color: rgba(238, 130, 238, 0.13);
        }
      }
    }
  }

  .chartBox-total {
    width: 100%;
    max-width: $boxSize-width;
    padding-bottom: 60px;
    .ulBoxHead-two {
      #bandBtn {
        color: $naver-green;
        border: solid 2px $naver-green;
        border-radius: 20px;
        padding: 1px 10px;
        box-sizing: border-box;
        background-color: rgba(240, 248, 255, 0.123);
        &:hover {
          color: rgba(245, 245, 245, 0.836);
          border-color: rgba(245, 245, 245, 0.836);
          background-color: $naver-green;
        }
      }
    }
    .listBord-chartBox {
      margin-top: 15px;
      .chartSaved {
        font-family: "Nanum Gothic", sans-serif;
        .chartText {
          position: relative;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .chartText-firstBox {
            display: flex;
            .chartText-nameEntryFee {
              width: 70px;
              height: 70px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              border-radius: 20px;
              margin-right: 10px;
              background-color: rgba(6, 31, 13, 0.637);
              .nameEntryFee-name {
                font-weight: 700;
              }
            }
            .chartText-AbsenceExtraEarnd {
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              color: rgba(255, 255, 255, 0.404);
              .AbsenceExtraEarnd-BoxTop {
                display: flex;
                font-size: 13px;
                align-items: center;
                justify-content: space-between;
                .nameEntryFee-entryFee {
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-right: $basic-border;
                  padding-right: 8px;
                }
                .BoxTop-numberOfAbsence {
                  display: flex;
                  align-items: center;
                  border-right: $basic-border;
                  padding: 0px 8px;
                  .wordAbsence {
                    margin-right: 5px;
                  }
                  .circleAbsence {
                    color: white;
                    font-size: 11px;
                    font-weight: bolder;
                    border-radius: 20px;
                    padding: 4px 6px;
                    background-color: rgba(236, 77, 38, 0.534);
                  }
                }
                .BoxTop-extra {
                  padding-left: 8px;
                  color: rgba(255, 224, 224, 0.575);
                }
              }
              .AbsenceExtraEarnd-TotalEarnedMoney {
                font-size: 21px;
                font-weight: 700;
                color: rgba(255, 255, 255, 0.767);
              }
            }
          }
          .chartText-secondBox {
            i {
              color: $form-bgColor;
            }
            #resetConfirm,
            #resetConfirmRe {
              //li가 relative
              position: absolute;
              height: 90%;
              width: 70px;
              word-wrap: break-word;
              right: -5px;
              bottom: 5%;
              z-index: 1;
              font-size: 15px;
              font-weight: 700;
              border: $basic-border;
              border-radius: 5px;
              // padding: 4px 5px;
              &:hover {
                color: rgb(221, 237, 241);
              }
            }
            #resetConfirm {
              color: rgb(194, 165, 0);
              background-color: rgb(70, 82, 82);
            }
            #resetConfirmRe {
              color: rgb(194, 165, 0);
              background-color: rgb(68, 61, 71);
            }
          }
        }
        &:hover {
          background-color: $liBoxHover-bgColor;
          .chartText-secondBox i {
            color: $inputText-color;
          }
        }
      }
    }
  }

  //search page
  .searchedMainBox {
    min-height: 70vh;
    display: flex;
    align-items: center;
    ul {
      padding: 10px 15px;
      .formLi-edit {
        position: relative;
        max-width: $formBox-width;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 25px 20px 15px 20px;
        margin-bottom: 25px;
        border-radius: 10px;
        background-color: rgba(201, 201, 201, 0.13);
        box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.192);
        .search-deleteBtn {
          position: absolute;
          top: 10px;
          right: 10px;
          padding: 10px 10px;
          cursor: pointer;
          &:hover {
            font-weight: bolder;
            color: rgb(255, 77, 71);
            background-color: transparent;
          }
        }
        .searchedBox-inForm {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-left: 5px;
          margin-top: 15px;
          border-bottom: $editBox-underlineColor solid 1px;
          label {
            width: 20%;
            font-size: $inputText-size;
            color: $editBox-underlineColor;
            text-align: end;
            padding-right: 10px;
          }
          input {
            width: 80%;
            margin: 0px;
            font-weight: bold;
            background-color: transparent;
            border: none;
          }
          :last-of-type {
            input {
              width: 48%;
              &::placeholder {
                font-weight: 530;
              }
            }
          }
          #nthFee {
            width: 80%;
            margin-bottom: 5px;
            select {
              width: 52%;
              border-style: none;
              border-radius: 5px;
              margin-right: 2%;
              outline: none;
              color: rgba(255, 255, 255, 0.897);
              background-color: $form-bgColor;
              option {
                background-color: rgba(240, 248, 255, 0.219);
              }
            }
          }
        }
      }
    }
  }
}

//screen size [main박스 사이즈 만큼]
@media (max-width: 830px) {
  main {
    .headBox {
      background-color: $menuBarBottom-backgroundColor;
      #gobackAdd {
        display: unset;
      }
    }
  }
}
@media (max-width: 950px) {
  .menuBar {
    top: unset;
    left: unset;
    right: 0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: $menuBarBottom-backgroundColor;
    .menuBox {
      margin-right: 0px;
      i {
        text-align: center;
        font-size: 20px;
        width: 30px;
        color: rgba(219, 218, 218, 0.685);
        border-style: none;
        margin-bottom: 0px;
        background-color: transparent;
        &:hover {
          color: white;
          background-color: unset;
        }
      }
    }
  }
}
@media (max-width: 590px) {
  .chartArrayText-Num {
    display: none;
  }
  .checkBox-text {
    flex-direction: column;
    justify-content: space-around;
    .textBox {
      font-size: 13px;
      .textBox-title {
        padding: 0px;
      }
      .textBox-content {
        padding: 0px;
      }
    }
  }
}
